/* SCSS FIL til alt styling*/
body {
  background-color: #6ac29d;
  font-family: 'Open Sans';
  color: white;
  /* NAV*/ }
  body .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Helvetica', serif;
    font-weight: 400;
    line-height: 1.45;
    color: white;
    background-color: #418fb7; }
  body img {
    width: 100%; }
  body .mus {
    width: 30%; }
  body .elefant {
    width: 30%; }
  body .pingvin {
    width: 30%; }
  body .farver {
    width: 100%; }
  body .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s; }
  body .sidenav a:hover {
    color: #58add0; }
  body .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  @media screen and (max-height: 450px) {
    body .sidenav {
      padding-top: 15px; }
    body .sidenav a {
      font-size: 18px; } }

/*TYPPGRAFI*/
html {
  font-size: calc(0.5+ 0.5vw); }

label {
  margin-bottom: 0.5em; }

p {
  margin-bottom: 5em;
  font-size: 3vw;
  margin: 0;
  padding: 0;
  display: inline-block; }

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1;
  font-family: 'Lato';
  color: white; }

h1 {
  margin-top: 0.5em;
  font-size: 4em; }

h2 {
  font-size: 3.375em; }

h3 {
  font-size: 2.25em; }

h4 {
  font-size: 1.5em; }

small,
.font_small {
  font-size: 0.667em; }

/*Media querys til tablet v 768px-16px font*/
@media only screen and (min-width: 48em) {
  html {
    font-size: calc(0.80em + 2em); }

  .container {
    width: 92%; } }
/*Media querys til mindre computer - 1024 px v 16px font*/
@media only screen and (min-width: 64em) {
  html {
    font-size: calc(0.75em + 2em); }

  p {
    font-size: 1vw; }

  .container {
    width: 88%; } }
/* Media querys til laptop/desktop - 1200 px v 16 px font*/
@media only screen and (min-width: 75em) {
  html {
    font-size: calc(0.75em + 1em); }

  .container {
    width: 84%; }

  p {
    font-size: 1.5vw; } }
/* Variables*/
.btns {
  background-color: #f5d874;
  padding: 0.5em;
  border-radius: 0.5em;
  color: white; }

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
  color: #e76c5d; }

/*Formular*/
input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #418fb7;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

textarea {
  height: 200px; }

input[type=submit] {
  background-color: #418fb7;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #BDBDBD; }

.container {
  border-radius: 5px;
  background-color: #57ADD0;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto; }

.hidden {
  display: none; }

#formfailure {
  background-color: red;
  padding: 1em; }

/*# sourceMappingURL=style.css.map */
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f0993c;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s; }

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }
#myDiv {
  display: none;
  text-align: center; }

/* Datavis*/
.diagram_container {
  transform: rotate(90deg); }

svg {
  display: inline-block;
  transform: rotate(180deg); }

/*# sourceMappingURL=style.css.map */
